.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 20px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  row-gap: 20px;
  background-color: rgb(240,240,240);
}

.product-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 16px;
  background-color: rgb(240,240,240);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(220,220,220);

}
.add-to-cart, .more-info {
  width: 80px;
  padding: 3px 0px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;  
  
}
.buttons {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  
}

.add-to-cart:hover, .more-info:hover {
  background-color: rgb(60,60,60);
  color: white;
  transition: 0.2s;
}

.product-name {
  font-size: 16px;
}

.product-card img {
  height: 140px;
}

.price {
  font-weight: 500;
}